body {
  margin: 30px;
  background-color: powderblue;
}
header {
  text-align: right;
}
.addMemoBtn {
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: lightgreen;
  color: white;
}
.addMemoBtn i {
  margin-right: 5px;
}
section {
  margin-top: 1rem;
}

.myMemo {
  z-index: 0;
  display: inline-block;
  width: 300px;
  min-height: 400px;
  margin-right: 10px;
  margin-bottom: 20px;
  background-color: white;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.29);
}
.myMemo__header {
  display: flex;
  height: 40px;
  justify-content: flex-end;
  align-items: center;
  background-color: lightgreen;
}
.myMemo__header button {
  cursor: pointer;
  border: none;
  width: 25px;
  height: 25 px;
  margin-right: 0.5rem;
  background-color: transparent;
}
.articleContainer {
  position: relative;
}
.myMemoArticle {
  border: none;
  outline: none;
  width: 90%;
  height: 100%;
  padding: 10px;
  background-color: white;
  resize: none;
}
.holdEdit {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.hold {
  display: block;
}
